   a {
      color: rgb(40, 40, 40);
      text-decoration: none;
    }
    h1 {
      font-size: 80px;
      text-align: center;
      border-bottom: 3px dotted rgb(40, 131, 82);
      margin: 0;
      padding: 20px;
      font-family: 'Pretendard-ExtraBold';
    }
    ol{
      border-right: 3px dotted rgb(40, 131, 82);
      width: 80px;
      margin: 0;
      padding: 20px;
    }

    h2{
      font-family: 'Pretendard-ExtraBold';
    }

    h3{
      font-family: 'Pretendard-Medium';
    }

    #grid {
      display: grid;
      grid-template-columns: 130px 1fr;
      font-family: 'Pretendard-Regular';
    }

    #grid ol {
      padding: 25px
    }
    #본문 {
      padding: 20px;
      font-family: 'Pretendard-Regular';
    }
    @media (max-width:800px){
      #grid {display: block;}
      ol {border-right: none;}
      h1 {border-bottom: none;}
    }

    /* Pretendard 폰트 설정 */
    @font-face {
      font-family: 'Pretendard-Regular';
      src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
    } 

     @font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;}

     @font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;}

     @font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;}